<!-- Users Home Page -->
<div id="usersHome" class="row">

	<% @user.each do |u| %>

		<h3> Welcome <%= u.email %> </h3>

		  <div class="col-md-4">.col-md-4</div>
		  <div class="col-md-8">.col-md-8</div>
	<% end %>
</div>