<!-- Users Home Page -->

<div id="usersHome">

	<% if user_signed_in? %>

	<h1> Welcome </h1> \
<!-- 	<h1><%= current_user.email %> </h1> -->

	<% end %>
	
	<div class="homeContainer">
		<% if user_signed_in? %>
		
			<% @planes.where({user_id: current_user.id}).each do |p| %>
				<% @PlaneJobs.where({plane_id: p.id}).each do |j| %>
					<% @costTotal = @costTotal + @jobs.find(j.job_id).cost %>
				<% end %>
			<% end %>
			<h3>Total Income</h3>
			<p><strong>$<%= @costTotal %></strong></p> 
		<div id='currentJobs'>
			
			<h3>Current Jobs</h3><br>
			<% @planes.where({user_id: current_user.id}).each do |p| %>
				<% @PlaneJobs.where({plane_id: p.id}).each do |j| %>
					<p><strong><%= @jobs.find(j.job_id).name %></strong></p>

				<% end %>
			<% end %>
		</div>
	</div>
</div>
		<% end %>