.navbar{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 1040;
	min-height: 65px;
}

.imageHolder{
	position: relative;
}

.bigfont{
	font-size: 100px;
}

#form-container {
	width: 100%;
	margin-top: 50px;
	margin-left: 5%;
	#form {

	}

}
#hide {
	display:none;
}
h1 {
	text-align: center;
	text-decoration: underline;
	margin-bottom: 25px;
}

#dotted-line {
	margin-top: 25px;
	border-top: 5px dotted black;
}