
body {
	background-color: black;
	background-image: url('/assets/Porto.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
.homeContainer {
	width: 40%;
	margin-left: 30%;
	background-color: white;
	text-align: center;
	border: 5px solid black;
}

#currentJobs{
	text-align: center;
}
.navbar{

	background-color: black;

		.linker{
		color: white !important; 

	}

	.linker:hover {
		color:  !important;
	}
}

.alert {
	font-size:16px;
	margin: 0;
	padding: 0;
	position: absolute;
	margin-left: 2%;
	color: white !important;
}

#form-container {
	width: 40%;
	margin-top: 0px;
	margin-left: 30%;
	border-top: 5px dotted black;
	opacity: .8;
	background-color: white;
	border: 5px solid black;
	#form {
		margin-top: 40px;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
}
.jobform{
	width: 50%;
	margin-top: 0px;
	margin-left: 25%;
	border-top: 5px dotted black;
	background-color: white;
	border: 5px solid black;
	#form {
		margin-top: 10px;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
}
#hide {
	display:none;
}


h1 {
	margin-top:0;
	text-align: center;
	text-decoration: underline;
	margin-bottom: 40px;
	font-size: 50px;
	color: #FF9800;
}

h3 {
	text-align:center;
	font-size: 35px;
	
}
h4 {
	font-size: 24px;
	color: #FF9800;
}
strong {
	font-size:20px;
}
#dotted-line {
	margin-top: 25px;
	margin-bottom:25px;
	border-top: 5px dotted black;
}
//jobs show stuff
#jobTitle {
	text-align:center;
}
#assignJob {
	text-align: center;
}
img {
	width: 90%;
	margin-left: 5%;
}

.description {
	width: 70%;
	margin-left: 20%;
}

.Planes {
	width: 60%;
	margin-left: 20%;
	background-color: white;
	border: 5px solid black;
}
#jobDetails {
	text-align: center;
	color: #FF9800;
}
h6{
	margin: 0;
	margin-bottom: 10px;
	text-align: center;
}
p {
	font-size: 18px;
}
.buttons{
	text-align: center;

}
#homey {
	width: 100%;

	#home {
		text-align: center;
	}
	#signin{
		button {
			margin-top: 40px;
			margin-bottom: 30px;
			width:40%;
			height: 50px;
			background-color: lightgray;
			font-size: 18px;
			opacity: .9;
		}
	}
}
#center {
	margin-left:45%;
}
